body {
  background-color: mediumslateblue;
  color: white;
  text-align: center;
  font-family: 'Roboto', Helvetica, Arial;
}

::selection {
  background: mediumpurple;
}

a {
  color: rebeccapurple;
}

select, option {
  padding: 15px;
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 20px;
  border: none;
  background-color: rebeccapurple;
  color: white;
}

